html
	head
		title Michael LaPlante
		link(href="http://fonts.googleapis.com/css?family=Oxygen:300,700,400" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="/css/style.css")
		link(rel="stylesheet" type="text/css" href="/css/media.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.0/trianglify.min.js")
		script(src="/js/stats.js")
		script(src="/js/three.min.js")

		//each shader in shaders
			!= shader

		script(src="/js/gl.js")
		script(src="/js/main.js")
	body
		#header_block
		#header
			#nav.content_wrapper.no_select
				#nav_slider
				#nav_logo ML
				#nav_divider
				#nav_skills.nav_link Skills
				#nav_lab.nav_link Lab
				#nav_photo.nav_link Photo
				#nav_contact.nav_link Contact
		#intro_wrapper
			canvas#intro_canvas
			#intro
				h4#intro_message_1 My name is
				h1#intro_message_2 Michael LaPlante
				h4#intro_message_3 I am a front end software engineer from California and I love creating engaging interactive experiences
		#skills_wrapper
			#skills
				div Skills
		#lab_wrapper
			#lab
				div Lab
		#photo_wrapper
			#photo
				div Photo
		#contact_wrapper
			#contact
				div Contact