html
    head
        title ML
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="/js/main.js")
    body
        #header
        #main_view
            h3 Ryan the slurpee butt
        #footer
