/* COLOR SCHEME
Background: #FFFFFF
Alt Background: #DDDDDD
Dark Background: #121212

Standard Text: #3e4245
Blue: #35a6ff

Light Line: #b5b7b8
Dark Line: #7a7f82
*/

html, body {
	margin: 0px;
	padding: 0px;
}

* {
	font-family: "Oxygen";
}

a {
	text-decoration: none;
	color: #6D6BD2;
}

h1 {
	font-weight: 400;
	font-size: 90px;
	margin: 0 0;
}

h2 {
	font-weight: 400;
	font-size: 40px;
	margin: 0 0;
}

h3 {
	font-weight: 400;
	font-size: 30px;
	margin: 0 0;
}

h4 {
	font-weight: 400;
	font-size: 36px;
	margin: 0 0;
}

/*----------GENERAL----------*/

	.content_wrapper {
		display: block;
		position: relative;
		max-width: 1366px;
		width: 100%;
		margin: 0 auto;
	}

	.full_height {
		min-height: 700px;
		/*Handled in JS so that 
		phones don't freak out*/
	}

	.no_select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

/*----------HEADER----------*/

	#header {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 70px;
		background-color: #121212;
		z-index: 10;
	}

	#header_block {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 70px;
	}

	/*Change to centered at 676px*/
	#nav {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: auto;
		height: 70px;
		color: #FFFFFF;
		/*Change to calculate width in JS?*/
		margin-left: 18.3%;
	}

	#nav_slider {
		display: block;
		position: absolute;
		left: 0px;
		bottom: 0px;
		height: 6px;
		width: 70px;
		background-color: #35a6ff;
	}

	#nav_logo {
		display: inline-block;
		position: relative;
		height: 100%;
		font-size: 36px;
		line-height: 70px;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
	}

	#nav_divider {
		display: inline-block;
		position: relative;
		vertical-align: top;
		top: 15px;
		width: 1px;
		height: 40px;
		margin-left: 20px;
		margin-right: 15px;
		background-color: #7a7f82;
	}

	.nav_link {
		display: inline-block;
		position: relative;
		vertical-align: top;
		line-height: 70px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 20px;
		cursor: pointer;
	}

/*----------INTRO----------*/

	#intro_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 700px;
		overflow: hidden;
	}

	#intro_canvas {
		display: block;
		position: absolute;
		top: 50%; 
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width: auto; 
		height: auto;
		min-width: 100%;
		min-height: 100%;
		overflow: hidden;
		z-index: 0;
	}

	#intro {
		display: block;
		position: relative;
		max-width: 700px;
		margin-left: calc(18.3% + 85px);
	}

	#intro_message_1 {
		margin-left: 5px;
		margin-top: 180px;
	}

	#intro_message_2 {
		
	}

	#intro_message_3 {
		margin-left: 5px;
		margin-top: 60px;
		margin-bottom: 180px;
	}

/*----------SKILLS----------*/

	#skills_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------LAB----------*/

	#lab_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------PHOTO----------*/

	#photo_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------CONTACT----------*/

	#contact_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------MEDIA----------*/
	@media screen and (max-width: 1390px) {
		#intro {
			margin: 0 auto;
		}
	}

/*----------PRINTER STUFF----------*/
	@media print {
		/* If you want to print my website
		then screen cap it you dummy
		*/
		body * {
			display: none !important;
		}

		body::after {
			content: "Just screen cap it";
			display: block;
			color: #00FF00;
			font-size: 500px;
		}
	}