/* COLOR SCHEME
Background: #FFFFFF
Alt Background: #DDDDDD
Dark Background: #121212

Standard Text: #3e4245
Blue: #35a6ff

Light Line: #b5b7b8
Dark Line: #7a7f82
*/

html, body {
	margin: 0px;
	padding: 0px;
}

* {
	font-family: "Oxygen";
}

a {
	text-decoration: none;
	color: #6D6BD2;
}

h1 {
	font-weight: 400;
	font-size: 90px;
	margin: 0 0;
	color: #3e4245;
}

h2 {
	font-weight: 400;
	font-size: 48px;
	margin: 0 0;
	color: #3e4245;
}

h3 {
	font-weight: 400;
	font-size: 30px;
	margin: 0 0;
	color: #3e4245;
}

h4 {
	font-weight: 400;
	font-size: 24px;
	margin: 0 0;
	color: #3e4245;
}

h5 {
	font-weight: 400;
	font-size: 20px;
	margin: 0 0;
	color: #3e4245;
}

p {
	font-size: 18px;
	margin: 0 0;
	color: #3e4245;
}

/*----------HEADER----------*/

	#header {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 70px;
		background-color: #121212;
		color: #FFFFFF;
		white-space: nowrap;
		overflow: hidden;
		z-index: 10;
	}

	#header_block {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 69px;
	}

	#nav {
		display: inline-block;
		position: relative;
		top: 0px;
		left: 0px;
		width: auto;
		height: 70px;
		color: #FFFFFF;
		margin-left: 18.3%;
	}

	#nav_slider {
		display: block;
		position: absolute;
		bottom: 0px;
		height: 6px;
		width: 1px;
		background-color: #35a6ff;

		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);

		-webkit-transform-origin: left;
		-moz-transform-origin: left;
		-o-transform-origin: left;
		transform-origin: left;
	}

	#nav_logo {
		display: inline-block;
		position: relative;
		height: 100%;
		font-size: 36px;
		line-height: 70px;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
	}

	#nav_divider {
		display: inline-block;
		position: relative;
		vertical-align: top;
		top: 15px;
		width: 1px;
		height: 40px;
		margin-left: 20px;
		margin-right: 15px;
		background-color: #7a7f82;
	}

	.nav_link {
		display: inline-block;
		position: relative;
		vertical-align: top;
		line-height: 70px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 20px;
		cursor: pointer;
	}

/*----------INTRO----------*/

	#intro_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 500px;
		overflow: hidden;
	}

	#intro_canvas {
		display: block;
		position: absolute;
		top: 50%; 
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width: auto; 
		height: auto;
		min-width: 100%;
		min-height: 100%;
		overflow: hidden;
		z-index: 0;
	}

	#intro {
		display: block;
		position: relative;
		max-width: 700px;
		margin-left: calc(18.3% + 75px);
		padding-left: 10px;
		padding-right: 10px;

		-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
		-moz-transition: -moz-transform 0.6s, opacity 0.6s;
		-o-transition: -o-transform 0.6s, opacity 0.6s;
		transition: transform 0.6s, opacity 0.6s;
	}

	#intro_message_1 {
		margin-left: 5px;
		margin-top: 180px;
		color: #121212;
	}

	#intro_message_2 {
		color: #121212;
	}

	#intro_message_3 {
		margin-left: 5px;
		margin-top: 60px;
		margin-bottom: 180px;
		color: #121212;
	}

/*----------SKILLS----------*/

	#skills_wrapper {
		display: block;
		position: relative;
		width: 100%;
		background-color: #FFF;
		z-index: 0;
		overflow: hidden;
	}

	#skills_wrapper:before {
		content: "";
		display: block;
		position: absolute;
		background-color: #DDDDDD;
		width: 5000%;
		height: 100%;
		left: 40%;
		z-index: -1;
		-webkit-transform: skewX(-30deg);
		-moz-transform: skewX(-30deg);
		-ms-transform: skewX(-30deg);
		-o-transform: skewX(-30deg);
		transform: skewX(-30deg);
	}

	#skills {
		display: block;
	}

	#skills h2 {
		margin-left: calc(18.3% - 25px);
	}

	#skills_table {
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
	}

	#skills_names {
		display: inline-block;
		width: calc(18.3% + 90px);
		vertical-align: top;
		margin-right: 20px;
	}

	#skills_names ul {
		list-style-type: none;
		text-align: right;
		padding: 0px;
	}

	#skills_names ul li {
		line-height: 35px;
		margin-bottom: 17px;
	}

	#skills_bars {
		display: inline-block;
		width: calc(71.6% - 110px);
		max-width: 1000px;
		vertical-align: top;
		margin-right: 10%;
		
	}

	#skills_bars ul {
		list-style-type: none;
		padding: 0px;
	}

	#skills_bars ul li {
		width: 100%;
		height: 35px;
		margin-bottom: 17px;
		overflow: hidden;
	}

	.skills_bar {
		display: block;
		width: 100%;
		height: 35px;
		background-color: #35a6ff;
		-webkit-transform: translateX(-101%);
		-moz-transform: translateX(-101%);
		-o-transform: translateX(-101%);
		transform: translateX(-101%);

		-webkit-transition: -webkit-transform 0.6s ease-in-out;
		-moz-transition: -moz-transform 0.6s ease-in-out;
		-o-transition: -o-transform 0.6s ease-in-out;
		transition: transform 0.6s ease-in-out;
	}

	.skills_tags {
		width: 100%;
		height: 60px;
		margin-left: 5px;
		line-height: 32px;
		color: #FFFFFF;
		vertical-align: middle;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 0.0001;

		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		transform: translateY(-15px);

		-webkit-transition: -webkit-transform 0.2s, opacity 0.15s;
		-moz-transition: -moz-transform 0.2s, opacity 0.15s;
		-o-transition: -o-transform 0.2s, opacity 0.15s;
		transition: transform 0.2s, opacity 0.15s;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.skills_tags:hover {
		opacity: 1;
		
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	#skills_more {
		max-width: 800px;
		margin-left: calc(18.3% - 20px);
		margin-top: 20px;
		margin-bottom: 80px;
	}

	#skills_more ul {
		list-style-type: none;
		padding: 0px;
	}

	#skills_more ul li {
		display: inline-block;
	}

	.skills_minor {
		display: inline-block;
		background-color: #35a6ff;
		color: #FFFFFF;
		margin-right: 15px;
		margin-bottom: 15px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		opacity: 0.0001;

		transition: opacity 0.2s;
	}

/*----------LAB----------*/

	#lab_wrapper {
		display: block;
		position: relative;
		width: 100%;
		background-color: #FFFFFF;
	}

	#lab {
		max-width: 2000px;
		height: 700px;
		margin: 0 auto;
	}

	#lab_nav {
		display: block;
		position: relative;
		height: 70px;
		width: 100%;
		text-align: center;
	}

	.lab_nav_link {
		display: inline-block;
		width: 100px;
		height: 70px;
		padding-left: 17px;
		padding-right: 17px;

		-webkit-transition: color 0.2s, background-color 0.2s;
		-moz-transition: color 0.2s, background-color 0.2s;
		-o-transition: color 0.2s, background-color 0.2s;
		transition: color 0.2s, background-color 0.2s;
	}

	.lab_nav_link:hover {
		color: #FFFFFF;
		background-color: #35a6ff;
		cursor: pointer;
	}

	.lab_nav_selected {
		color: #FFFFFF;
		background-color: #35a6ff;
	}

	.lab_nav_link div {
		position: absolute;
		width: 100px;
		top: 50%;
		font-size: 18px;

		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.lab_active {
		color: #FFFFFF;
		background-color: #35a6ff;
	}

	#lab_projects {
		display: block;
		position: relative;
		height: calc(100% - 70px);
		width: 100%;
		overflow: hidden;
	}

	.lab_project {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		white-space: normal;

		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
		-moz-transition: -moz-transform 0.5s, opacity 0.5s;
		-o-transition: -o-transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
	}

	.lab_image {
		display: inline-block;
		position: relative;
		width: calc(100% - 430px);
		height: 100%;
		vertical-align: top;
		background-color: #AAAAAA;
		background-size: cover;
	}

	.lab_info {
		display: inline-block;
		position: relative;
		width: 430px;
		height: 100%;
		vertical-align: top;
		background-color: #FFFFFF;
	}

	.lab_info h3 {
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
	}

	.lab_divider {
		display: block;
		position: relative;
		width: 380px;
		height: 1px;
		left: 50%;
		background-color: #b5b7b8;

		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.lab_tags {
		display: block;
		position: relative;
		margin-left: 25px;
		margin-right: 25px;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.lab_tag {
		display: inline-block;
		position: relative;
		border: 2px solid #35a6ff;
		margin-right: 5px;
		margin-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.lab_info p {
		margin-left: 25px;
		margin-right: 25px;
	}

	.lab_link {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0px;
		text-align: center;
		margin-bottom: 60px;
	}

	.lab_info a {
		display: inline-block;
		position: relative;
		width: auto;
		background-color: #35a6ff;
		color: #FFFFFF;
		font-size: 22px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

/*----------PHOTO----------*/

	#photo_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------CONTACT----------*/

	#contact_wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 1000px;
		background-color: #FFF;
	}

/*----------MEDIA----------*/
	/*Medium Screens*/
	@media screen and (max-width: 740px) {
		.section_statement {
			margin-left: 10px;
			margin-right: 10px;
		}

		#intro {
			max-width: 350px;
		}

		#intro_message_1 {
			margin-top: 80px;
		}

		#intro_message_3 {
			margin-bottom: 120px;
		}

		#skills {
			margin-left: 5%;
		}

		#skills h2 {
			width: calc(18.3% + 20px);
			text-align: right;
			margin: 0;
		}

		#skills_names {
			width: calc(18.3% + 30px);
		}

		#skills_bars {
			width: calc(71.6% - 50px);
		}

		#skills_more {
			margin-left: 0px;
		}
	}

	/*Small Screens*/
	@media screen and (max-width: 450px) {
		h1 {
			font-size: 60px;
		}

		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 24px;
		}

		h4 {
			font-size: 18px;
		}
		h5 {
			font-size: 16px;
		}

		#header {
			height: 60px;
		}

		#header_block {
			height: 59px;
		}

		#nav {
			height: 60px;
		}

		#nav_divider {
			display: none;
		}

		#nav_logo {
			padding-left: 8px;
			padding-right: 8px;
			line-height: 60px;
		}

		.nav_link {
			padding-left: 8px;
			padding-right: 8px;
			line-height: 60px;
		}

		.nav_link {
			font-size: 18px;
		}

		#intro {
			max-width: 260px;
		}
	}

	/*Tiny Screens*/
	@media screen and (max-width: 350px) {
		#nav_logo {
			font-size: 30px;
		}
		.nav_link {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 1100px) {
		.lab_nav_link {
			width: 100px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.lab_info {
			width: 350px;
		}

		.lab_image {
			width: calc(100% - 350px);
		}
	}

	@media screen and (max-width: 930px) {
		#lab_nav {
			display: none;
		}

		#lab_nav_mobile {
			display: block;
		}

		.lab_info {
			width: 100%;
		}

		.lab_image {
			width: 100%;
		}
	}

	/*Centering Queries*/
	@media screen and (max-width: 685px) {
		#nav {
			margin-left: 0px;
		}

		#header {
			text-align: center;
		}
	}

	/*Centering Queries*/
	@media screen and (max-width: 1390px) {
		#intro {
			margin: 0 auto;
		}
	}

/*----------GENERAL----------*/
	.content_wrapper {
		display: block;
		position: relative;
		max-width: 1366px;
		width: 100%;
		margin: 0 auto;
	}

	.full_height {
		min-height: 700px;
		/*Handled in JS so that 
		phones don't freak out*/
	}

	.no_select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.section_statement {
		max-width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 60px;
		padding-bottom: 60px;
		opacity: 1;

		-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
		-moz-transition: -moz-transform 0.6s, opacity 0.6s;
		-o-transition: -o-transform 0.6s, opacity 0.6s;
		transition: transform 0.6s, opacity 0.6s;
	}

	.slide_down_hidden {
		opacity: 0;
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-o-transform: translateY(100px);
		transform: translateY(100px);
	}

	.slide_up_hidden {
		opacity: 0;
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		transform: translateY(-100px);
	}

/*----------PRINTER STUFF----------*/
	@media print {
		/* If you want to print my website
		then screen cap it you dummy
		*/
		body * {
			display: none !important;
		}

		body::after {
			content: "Just screen cap it";
			display: block;
			color: #00FF00;
			font-size: 500px;
		}
	}